body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
}


header{
    background-color: red;
    padding: 40px 0 40px 0;
    position: relative;
    font-size: 1.25em;
}

h3{
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: white;
}

aside{
    background-color: purple;
    padding: 40px 0 40px 0;
    position: relative;
    font-size: 1.25em;
}

footer{
    bottom: 0;
    background-color: green;
    padding: 40px 0 40px 0;
    position: relative;
    font-size: 1.25em;
}